// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #2a2c2f;
$textDark: #fff;

// Bright theme
$backgroundBright:  hsl(36, 14%, 73%);
$sidebarBright: #ee8800;
$textBright: #2a2c2f;

// Brand
$brandPrimary: #f99500;
