// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #2a2c2f;
$textDark: #fff;

// Bright theme
$backgroundBright:  hsl(34, 100%, 85%);
$sidebarBright:  #7F7F7F;
$textBright: #2a2c2f;

// Brand
$brandPrimary: #f99500;
