// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #2a2c2f;
$textDark: #fff;

// Bright theme
$backgroundBright:  #f5b663;
$sidebarBright:  #2B2C28;
$textBright: #2a2c2f;

// Brand
$brandPrimary: #f99500;
